.container00 {
  //containers
  &.falcon9 {
    background-image: url(../images/falcon9/01.jpg);
  }

  &.info {
    background-image: url(../images/falcon9/02.jpg);
  }

  //carrosseis
  &.carrossel00 { 
    background-image: url(../images/falcon9/03.jpg);
  }

  &.carrossel01 {
    background-image: url(../images/falcon9/04.jpg);
  }

  &.carrossel02 {
    background-image: url(../images/falcon9/05.jpg);
  }

  &.carrossel03 {
    background-image: url(../images/falcon9/06.jpg);
  }

  &.carrossel04 {
    background-image: url(../images/falcon9/07.jpg);
  }

  //containers
  &.merlin {
    background-image: url(../images/falcon9/08.jpg);
  }
}

.numbers {
  background-color: black;
  height: 30vh;
}


#teste {
  display: flex;
  align-items: center;
  justify-content: center;
}