.container00 {
  &.floki {
    background-image: url(../images/home/01.jpg);
  }

  &.ragnar {
    background-image: url(../images/home/03.jpg);
  }

  &.bjorn {
    background-image: url(../images/home/04.gif);
  }

  &.rollo {
    background-image: url(../images/home/05.jpg);
  }
}

.header {
  font-size: 12px;
  font-weight: bolder;
  padding-top: 10px;
}



.title-padding {
  padding-top: 200px;
}

.short-title { /*classe colocada em títulos longos, para quebrar */
  width: 550px;
  margin-bottom: 20px;
}

.medium-title {
  width: 650px;
  margin-bottom: 20px;
}
