* {
  color: white;
}

.floki {
  background-image: url(../images/home/01.jpg);
  height: 100vh;
}

.header {
  font-size: 12px;
  font-weight: bolder;
}

.ragnar {
  background-image: url(../images/home/03.jpg);
  height: 100vh;
}

.bjorn {
  background: url(../images/home/04.gif) center no-repeat;
  background-size: cover;
  height: 100vh;
}

.rollo {
  background-image: url(../images/home/05.jpg);
  height: 100vh;
}

.footer {
  background-color: black;
  height: 150px;
}