.container00 {
  &.human {
    background-image: url(../images/humanflight/01.jpg);
  }

  &.terra {
    background-image: url(../images/humanflight/02.jpg);
  }

  &.estacao {
    background-image: url(../images/humanflight/03.jpg);
  }
  
  &.lua {
    background-image: url(../images/humanflight/04.jpg);
  }

  &.marte {
    background-image: url(../images/humanflight/05.jpg);
  }
}

.humantext-desc {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title-human {
    font-size: 120px;
  }

  .subtitle-human {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 300;
  }
}

.info-email {
  background-color: black;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .desc-email {
    width: 800px;
    padding-top: 90px;
    margin: auto;
    font-size: 20px;
  }
}

.content-right {
  margin-left: 55%;
  padding-top: 15%;
}

.title-section {
  font-size: 60px;
  font-weight: bold;
}

.subtitle {
  font-weight: 300;
  margin-bottom: 40px;
}

.content-left {
  margin-left: 5%;
  padding-top: 9%;
}


@media (max-width: 750px) {
  .humantext-desc {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .title-human {
      font-size: 60px;
    }
  }
}

@media (max-width: 480px) {
  .title-section {
    font-size: 40px;
    font-weight: bold;
  }
  
  .subtitle {
    font-weight: 300;
    margin-bottom: 40px;
  }
}

@media (max-width: 370px) {
  .humantext-desc {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .title-human {
      font-size: 30px;
    }
  }

  .title-section {
    font-size: 20px;
    font-weight: bold;
  }
  
  .subtitle {
    font-weight: 300;
    margin-bottom: 40px;
  }

  #button {
    padding: 10px 15px;
  }

  .content-right {
    margin-left: 50%;
    padding-top: 20%;
  }
}
